<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="com.topjohnwu.magisk_" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="me.weishu.kernelsu.manager" />
        <package android:name="com.google.android.launcher.layouts.genymotion" />
        <package android:name="com.bluestacks" />
        <package android:name="com.bignox.app" />
        <package android:name="com.microvirt.market" />
        <package android:name="com.pspace.vandroid" />
        <package android:name="com.lbe.parallel" />
        <package android:name="com.excelliance.dualaid" />
        <package android:name="com.qihoo.magic" />
        <package android:name="com.lexa.fakegps" />
        <package android:name="com.rosteam.gpsemulator" />
        <package android:name="com.incorporateapps.fakegps.fre" />
        <package android:name="com.incorporateapps.fakegps" />
        <package android:name="com.fly.gps" />
        <package android:name="com.togglo.fakegps" />
        <package android:name="com.gsmartstudio.fakegps" />
        <package android:name="com.theappninjas.fakegpsjoystick" />
        <package android:name="com.fakegps.mock" />
    </queries>
</manifest>